*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.forgot-container{

    width:100%;

    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:
    linear-gradient(
        135deg,
        #0f172a,
        #020617,
        #1e1b4b
    );
}

.forgot-card{

    width:420px;

    background:#1e293b;

    padding:40px;

    border-radius:25px;

    box-shadow:
    0 0 40px rgba(0,0,0,0.5);

    display:flex;

    flex-direction:column;

    gap:18px;
}

h1{

    color:white;

    text-align:center;

    margin-bottom:10px;

    font-size:40px;
}

input{

    width:100%;

    padding:14px;

    border:none;

    outline:none;

    border-radius:12px;

    background:#e2e8f0;

    font-size:15px;
}

button{

    width:100%;

    padding:14px;

    border:none;

    border-radius:12px;

    background:
    linear-gradient(
        90deg,
        #ff4d6d,
        #ff9f1c
    );

    color:white;

    font-size:16px;

    font-weight:600;

    cursor:pointer;

    transition:0.3s;
}

button:hover{

    transform:scale(1.03);
}

/* RESET PASSWORD SECTION SPACING */

.forgot-card div {

    display: flex;

    flex-direction: column;

    gap: 15px;

    margin-top: 10px;
}