<div class="forgot-container">

  <div class="forgot-card">

    <h1>Forgot Password</h1>


    <!-- ========================= -->
    <!-- STEP 1 : EMAIL -->
    <!-- ========================= -->

    <div *ngIf="currentStep === 1">

      <input
        type="email"
        placeholder="Enter Email"
        [(ngModel)]="email"
      />

      <button
        (click)="sendOTP()"
      >
        Send OTP
      </button>

    </div>



    <!-- ========================= -->
    <!-- STEP 2 : OTP -->
    <!-- ========================= -->

    <div *ngIf="currentStep === 2">

      <input
        type="text"
        placeholder="Enter OTP"
        [(ngModel)]="otp"
      />

      <button
        (click)="verifyOTP()"
      >
        Verify OTP
      </button>

    </div>



    <!-- ========================= -->
    <!-- STEP 3 : RESET PASSWORD -->
    <!-- ========================= -->

    <div *ngIf="currentStep === 3">

      <input
        type="password"
        placeholder="New Password"
        [(ngModel)]="newPassword"
      >

      <input
        type="password"
        placeholder="Confirm Password"
        [(ngModel)]="confirmPassword"
      >

      <button
        (click)="resetPassword()"
      >
        Reset Password
      </button>

    </div>

  </div>

</div>